
/*OPERADORES*/

$ancho:80%;


body{
    background: black;
    header{
        width: $ancho;
    }
    main{
        width: $ancho;
        .col-1{
            width: calc($ancho / 2) ;
        }
    }
    footer{
        width: $ancho;

    }
}
/*CONDICIONALES: con el objeto IF
SE COMPARA ENTRE DOS VALORES: 1er valor operador 2 valor*/
/*1er valor == 2do valor/ es valido si es  IGUAL*/
/*1er valor !== 2do valor/ es valido si es  distinto*/
/*1er valor > 2do valor/ es valido si es  mayor o menor<*/
$colorUno: rgb(45,113,177);
$colorDos: rgb(24, 26, 27);
$colorTres: rgb(162, 45, 177);
$colorCuatro: rgb(45, 177, 58);


$seccion:80%;

p{
    @if $seccion == $ancho{
        color: $colorUno;
    }@else if $seccion == div{
        color: $colorDos;
    }@else if $seccion == aside{
        color: $colorTres;
    }else{
        color: $colorCuatro;
    }
}


/*BUCLES*/
/*$columnas*/

/*@for $columnas from 1 through 10{
   .col-#{$columnas}{
        font-size: calc($ancho)/$columnas;
    }
}*/


/*Anidamiento*/

/*EACH*/
/*
@each $secciones in body, header, main, article, div, footer {
     #{$secciones} {
         background-image: url("./images/#{$secciones}.jpg");
     }
}
/*MAPAS*/

$redes:(
    twitter: #55acee,
    facebook:#3a5795,
    mail:#c25e30,
    instagram:rgb(167,15,189),
    youtube:red,
    snapchat:green

);

@each $nombre, $colorcito in $redes{
    .footer .enlaceRedes-#{$nombre}{
        background-color: $colorcito;
        border:$colorecito;
    }
}



.lista{
    list-style: none;

    .itemLista{
    padding: 16px;
    display: inline-block;
    &:hover{
        background-color: rgb(92, 63, 63);
        border-radius: 10%;
        
    }
    
     .enlaceLista{
         text-decoration: none;
         font-size: 16px;
         color:blue;
         &:active{
             border:solid aqua 1px;
         }
         &:link{
             color:rebeccapurple;
         }
         &:visited{
             color:#6d6d6d;
             background-color: beige;
         }
         
     }

    }

 

}
$fondo: rgb(12, 12, 12);
.principal{
background-color:$fondo;
    .titulo{
        padding-top: 30%;
        font-size: 50px;
        color: rgb(77, 200, 110);
        text-align: center;
        
       
    }
    .titulo2{
        font-size: 30px;
        color: rgb(73, 1, 1);
        
    }
    .textoIndex{
        font-size: 20px;
        color: white;
    }
}
